// Main colors
$mainColorBlack: #0C0C0C;
$mainColorBlue: #2A27AD;
$mainColorViolet: #5E4CAF;
$mainColorLightGray: #E0E2F1;
$mainColorWhite: #FFFFFF;
$mainColorLighterRed: #F9F7F7;

// Help colors
$helpColorLighterGreen: #EAFBFB;
$helpColorLightGreen: #E2F4F4;
$helpColorLightViolet: #C4C7E2;
