//* {
//  border: 1px solid red;
//}

html {
  scrollbar-width: thin;
  scrollbar-color: $mainColorBlue $mainBodyBg;
  transform: all .3s;
  &::-webkit-scrollbar {
    width: 6px !important;
    transition: all .3s;
  }
  &::-webkit-scrollbar-track {
    background-color: $mainBodyBg !important;
    transform: all .3s;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $mainColorBlue !important;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $mainBodyBg;
}

.is-forms {
  &__nav-feedback {
    .input-group {
      display: block;
      margin-bottom: 1rem;
      label,
      input {
        display: block;
        width: 100%;
      }
      label {
        font-family: Raleway,sans-serif;
        font-size: 1rem;
        color: $mainColorBlack;
        font-weight: 600;
      }
      input {
        padding: 1rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        color: $mainColorBlack;
        font-family: Raleway, sans-serif;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 2px solid rgba(59,42,255,.5);
        margin-top: .5rem;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &:hover,
        &:focus {
          border: 2px solid rgb(59,42,255);
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
        }
      }
    }
    input[type=button] {
      max-width: 200px;
      background: rgb(59,42,255);
      color: #fff;
      margin: 1rem auto 0;
      font-family: Raleway, sans-serif;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: rgb(59,42,255);
      }
    }
  }
}

.is-header {
  background: url("../img/header_bg.jpg"), #fff;
  min-height: 600px;
  -webkit-background-size: 115%;
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: -50% 70%;
  padding-top: 1.8125rem;

  .is-navbar {
    &__wrapper {
      &-left {
        display: flex;
        align-items: center;
        &__menu {
          list-style: none;
          display: flex;
          li {
            margin-right: 2.6875rem;
            a {
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 170%;
              color: $mainColorBlack;
              text-decoration: none;
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -ms-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;
              &:hover {
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                color: $mainColorBlue;
              }
            }
          }
        }
        &__toggler {
          display: none;
        }
      }
      &-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &__link {
          margin-left: 2rem;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 170%;
          text-transform: uppercase;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: $mainColorBlack;
          text-decoration: none;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          &:hover {
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            color: $mainColorBlue;
          }
          &.button {
            border: 2px solid #3B2AFF;
            box-sizing: border-box;
            box-shadow: 0px 0px 33.75px rgba(184, 184, 184, 0.26);
            border-radius: 4px;
            padding: .75rem 2rem;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #3B2AFF;
            text-transform: none;
            text-decoration: none;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            outline: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover {
              background-color: #3B2AFF;
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -ms-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;
              color: #ffffff;
              outline: none;
            }
          }
        }
      }
      &__sidebar {
        display: none;
      }
    }
  }
  &__intro {
    margin-top: 11.875rem;
    &__wrapper {
      &_title {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 115px;
        line-height: 72px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        letter-spacing: 0.16px;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #110596;
        width: 100%;
        text-align: center;
        margin-bottom: 0 !important;
      }
      &_description {
        font-family: Raleway, sans-serif;
        margin-top: 3rem;
        margin-bottom: 17.375rem;
        p {
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 46px;
          display: flex;
          align-items: center;
          letter-spacing: 0.16px;
          font-feature-settings: 'pnum' on, 'lnum' on;
        }
      }
    }
  }
}

.is-footer {
  position: relative;
  background-color: #fff;
  padding: 2rem 3.125rem;
  &__wrapper {
    &__contacts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;
      p {
        margin: 0;
        color: $mainColorBlack;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 170%;
        a {
          color: $mainColorBlack;
          text-decoration: none;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          &:hover {
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            color: $mainColorBlue;
          }
        }
      }
    }
    &__copyright {
      margin-top: 1.25rem;
      p {
        color: $mainColorBlack;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170%;
      }
    }
  }
  .scroll-to-top {
    position: fixed;
    bottom: 3.125rem;
    right: 3.125rem;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    color: $mainColorBlack;
    text-decoration: none;
    opacity: 0;
    transition: all .3s;
    visibility: hidden;
    &.show {
      opacity: 1;
      transition: all .3s;
      visibility: visible;
    }
  }
}

.uk-modal {
  &.uk-open {
    & > .uk-modal-dialog {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 5.5625rem 10.875rem 6.5rem 5.375rem;
      box-shadow: 0px 0px 100px rgba(116, 116, 116, 0.1);
    }
  }
  .uk-modal-dialog {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5.5625rem 10.875rem 6.5rem 5.375rem;
    box-shadow: 0px 0px 100px rgba(116, 116, 116, 0.1);
    width: 850px;
    .uk-modal-close {
      position: absolute;
      top: 30px;
      right: 30px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      svg {
        path {
          fill: gray;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
        }
      }
      &:hover {
        svg {
          path {
            fill: $mainColorBlack;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
          }
        }
      }
    }
    h3 {
      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 30px;
      color: $mainColorBlack;
    }
    p, li {
      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 30px;
      color: $mainColorBlack;
    }
    ul {
      li {
        margin-bottom: 1rem;
      }
    }
  }
}

// Main content

.is-wrapper {
  .is-advantages {
    &__tabs {
      max-width: 765px;
      &__list {
        margin-left: 0;
        margin-top: -105px;
        background-color: rgba(255,255,255,0.4);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 0;
        &:before {
          display: none;
        }
        li {
          padding: 1.875rem;
          a {
            font-family: Raleway, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 34px;
            color: $mainColorBlack;
          }
          &.uk-active {
            background-color: #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            a {
              border-bottom: none;
              color: #3B2AFF;
            }
          }
        }
      }
    }
    &__switcher {
      -webkit-border-radius: 0 10px 10px 10px;
      -moz-border-radius: 0 10px 10px 10px;
      border-radius: 0 10px 10px 10px;
      background-color: #fff;
      padding: 5.1875rem 6rem;
      &__card {
        box-shadow: 0px 0px 100px rgba(116, 116, 116, 0.1);
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 1.5rem;
        padding: 3.125rem 1.6875rem;
        h3 {
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 1.25rem;
          line-height: 30px;
          color: $mainColorBlack;
          min-height: 60px;
        }
        button {
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 1rem;
          line-height: 30px;
          color: #3B2AFF;
          text-decoration: none;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          background-color: transparent;
          border: none;
          cursor: pointer;
          &:hover {
            color: $mainColorDarkBlue;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
          }
        }
        &__modal {
          &.uk-open {
            & > .uk-modal-dialog {
              box-shadow: 0 0 100px rgba(116, 116, 116, 0.1) !important;
              border-radius: 10px !important;
            }
          }
        }
      }
      &__btn {
        box-shadow: 0 0 33.75px rgba(184, 184, 184, 0.26);
        border-radius: 4px;
        color: #FFFFFF;
        background-color: $mainColorBlue;
        padding: 1.5rem 7.75rem;
        display: inline-block;
        margin: 0 auto;
        text-decoration: none;
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 34px;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
        &:hover {
          background-color: $mainColorDarkBlue;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
        }
      }
      &__mobile {
        display: none;
      }
    }
  }
  .is-product {
    padding: 8.125rem 0 10rem;
    &__title {
      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 120%;
      text-align: center;
      color: $mainColorBlack;
    }
    &__card {
      img {
        width: auto;
        max-width: 100%;
        margin-left: -4rem;
        max-height: 248px;
      }
      h3 {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 30px;
        color: $mainColorDarkBlue;
        margin: 0 auto;
        height: 60px;
      }
      p {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 30px;
        color: $mainColorDarkBlue;
        max-width: 70%;
      }
    }
  }
  .is-what-can {
    padding: 8.1875rem 0 12.5rem;
    background-color: #EEEFF4;
    &__title {
      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
      line-height: 120%;
      color: $mainColorBlack;
    }
    &__tabs {
      max-width: 765px;
      &__list {
        margin-left: 0;
        margin-top: 2rem;
        background-color: rgba(255,255,255,0.4);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 0;
        &:before {
          display: none;
        }
        li {
          padding: 1.875rem;
          a {
            font-family: Raleway, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 34px;
            color: $mainColorBlack;
          }
          &.uk-active {
            background-color: #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            a {
              border-bottom: none;
              color: #3B2AFF;
            }
          }
        }
      }
    }
    &__switcher {
      padding: 4rem 1.875rem;
      background-color: #fff;
      border-radius: 0 10px 10px 10px;
      &__card {
        background-color: #fff;
        box-shadow: 0px 0px 100px rgba(116, 116, 116, 0.1);
        border-radius: 10px;
        padding: 2.25rem 1.5rem;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        margin-bottom: 2rem;
        img {
          display: block;
          margin: 0 auto;
          height: 110px;
        }
        h3 {
          margin-top: 1.6875rem;
          margin-bottom: 0;
          text-align: center;
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 1.25rem;
          line-height: 30px;
          color: $mainColorBlack;
          height: 60px;
        }
        button {
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 30px;
          color: #3B2AFF;
          border: none;
          background-color: transparent;
          text-align: center;
          cursor: pointer;
          display: block;
          margin: .5rem auto 0;
        }
        &:hover {
          background-color: #C4C7E2;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
        }
      }
      &__accordion {
        .uk-accordion {
          li {
            padding: 2.0625rem 2.4375rem;
            background-color: #fff;
            box-shadow: 0px 0px 100px rgba(116, 116, 116, 0.1);
            border-radius: 10px;
            a {
              font-family: Raleway, sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 1.25rem;
              line-height: 30px;
              font-feature-settings: 'pnum' on, 'lnum' on;
              color: $mainColorBlack;
              display: flex;
              align-items: center;
              justify-content: space-between;
              &:before {
                background-image: none;
                display: none;
              }
              &:after {
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border-bottom: 3px solid $mainColorBlack;
                border-right: 3px solid $mainColorBlack;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                margin-right: .5rem;
                margin-bottom: .5rem;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                border-bottom-right-radius: 4px;
              }
            }
            p {
              font-family: Raleway, sans-serif;
              color: $mainColorBlack;
            }
            &.uk-open {
              a {
                &:after {
                  -webkit-transform: rotate(225deg);
                  -moz-transform: rotate(225deg);
                  -ms-transform: rotate(225deg);
                  -o-transform: rotate(225deg);
                  transform: rotate(225deg);
                  -webkit-transition: all .3s;
                  -moz-transition: all .3s;
                  -ms-transition: all .3s;
                  -o-transition: all .3s;
                  transition: all .3s;
                }
              }
            }
          }
        }
      }
      .is-what-can__tabs__tabs {
        margin-left: 0.1rem;
        &:before {
          display: none;
        }
        & > * {
          flex: 1 0 0%;
        }
        & > li {
          padding: 0 12px;
          cursor: pointer;
        }
      }
    }
  }
  .is-integration {
    padding-top: 8.25rem;
    padding-bottom: 3rem;
    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 3rem ;
      line-height: 120%;
      text-align: center;
      font-family: Raleway, sans-serif;
    }
    &__list {
      counter-reset: item;
      list-style-type: none;
      margin-top: 3.75rem;
      &-item {
        position: relative;
        margin-left: 3rem;
        margin-bottom: 4rem;
        padding-left: 1rem;
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: $mainColorBlack;
        &:before {
          position: absolute;
          top: -34px;
          left: -100px;
          display: flex;
          align-items: center;
          justify-content: center;
          content: counter(item) "";
          counter-increment: item;
          background-color: #FBFFFF;
          border-radius: 4px;
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 34px;
          line-height: 30px;
          color: $mainColorBlack;
          width: 85px;
          height: 85px;
        }
        &:nth-child(2) {
          &:before {
            background-color: #EAFBFB;
          }
        }
        &:nth-child(3) {
          &:before {
            background-color: #E2F4F4;
          }
        }
        &:nth-child(4) {
          &:before {
            background-color: #E0E2F1;
          }
        }
        &:nth-child(5) {
          &:before {
            background-color: #BFBAE1;
          }
        }
        &:nth-child(6) {
          &:before {
            background-color: #9C96E7;
          }
        }
        & > ul {
          list-style-type: disc;
          & > li {
            font-family: Raleway, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            color: $mainColorBlack;
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
  .is-what-says {
    padding-top: 2rem;
    padding-bottom: 4.125rem;
    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 120%;
      text-align: center;
      margin-bottom: 4.5rem;
      font-family: Raleway, sans-serif;
    }
    &__card {
      box-shadow: 0 0 30px rgba(184, 184, 184, 0.26);
      background-color: #fff;
      margin-bottom: 1.5rem;
      &-img {
        background-position: top center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 300px;
      }
      &-content {
        padding: 2rem 1.875rem;
        font-family: Raleway, sans-serif;
        max-height: 454px;
        height: 100%;
        min-height: 454px;
        h3, &__author {
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 30px;
          color: $mainColorBlack;
          font-family: Raleway, sans-serif;
          margin-bottom: 1rem;
        }
        &__pos {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: $mainColorBlack;
        }
        &__email {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          text-decoration-line: underline;
          color: $mainColorBlack;
          margin-bottom: 2rem;
          a {
            color: $mainColorBlack;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            margin-bottom: 0;
            &:hover {
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -ms-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;
              color: $mainColorBlue !important;
            }
          }
        }
        &__description {
          p {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
    .card {
      &:nth-child(1) {
        .is-what-says__card-img {
          background: url('../img/what_says_1.jpg');
        }
      }
      &:nth-child(2) {
        .is-what-says__card-img {
          background: url('../img/what_says_2.jpg');
        }
      }
      &:nth-child(3) {
        .is-what-says__card-img {
          background: url('../img/what_says_3.jpg');
        }
      }
      &:last-child {
        .is-what-says__card-img {
          background: url('../img/what_says_4.jpg');
        }
      }
    }
    &__more {
      display: none;
    }
  }
}

