@media screen and (max-width: 429px) {
  // Modals
  .uk-modal {
    &.uk-open {
      & > .uk-modal-dialog {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 1.5rem;
        box-shadow: 0px 0px 100px rgba(116, 116, 116, 0.1);
      }
    }
    .uk-modal-dialog {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 5.5625rem 10.875rem 6.5rem 5.375rem;
      box-shadow: 0px 0px 100px rgba(116, 116, 116, 0.1);
      width: 850px;
      .uk-modal-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        svg {
          width: 16px;
          path {
            fill: gray;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
          }
        }
        &:hover {
          svg {
            path {
              fill: $mainColorBlack;
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -ms-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;
            }
          }
        }
      }
      h3 {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 30px;
        color: $mainColorBlack;
      }
      p, li {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 30px;
        color: $mainColorBlack;
      }
      ul {
        li {
          margin-bottom: 1rem;
        }
      }
    }
  }

  // Header
  * {
    --bs-gutter-x: 0;
    .row,
    .container {
      --bs-gutter-x: 0;
    }
  }
  .is-header {
    -webkit-background-size: 250%;
    background-size: 250%;
    background-position: -7% 60%;
    padding: 0;
    .is-navbar {
      background-color: #fff;
      &__wrapper {
        &-left {
          padding: 1rem 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          position: fixed;
          top: 0;
          background-color: #fff;
          z-index: 400;
          &__menu {
            display: none;
          }
          &__toggler {
            display: block;
            border: none;
            background-color: transparent;
            padding: 11px 0;
            span {
              display: block;
              width: 32px;
              height: 2px;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
              transition: all .3s;
              position: relative;
              background-color: $mainColorBlack;
              &:before,
              &:after {
                position: absolute;
                left: 0;
                right: 0;
                display: block;
                content: '';
                width: 32px;
                height: 2px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                transition: all .3s;
                background-color: $mainColorBlack;
              }
              &:before {
                top: -12px;
                transition: all .3s;
              }
              &:after {
                bottom: -12px;
                transition: all .3s;
              }
            }
            &.show {
              span {
                background-color: transparent;
                transition: all .3s;
                &:before {
                  top: 0;
                  transform: rotate(45deg);
                  transition: all .3s;
                }
                &:after {
                  bottom: 0;
                  transform: rotate(-45deg);
                  transition: all .3s;
                }
              }
            }
          }
        }
        &-right {
          display: none;
        }
        &__sidebar {
          position: fixed;
          top: 0px;
          bottom: -64px;
          background-color: $mainBodyBg;
          z-index: 300;
          left: -100%;
          width: 100%;
          transition: all .3s ease-in-out;
          display: block;
          padding-top: 64px;
          padding-bottom: 64px;
          &.show {
            left: 0;
            transition: all .3s ease-in-out;
          }
          &__menu {
            list-style: none;
            padding: 3rem 2rem .5rem;
            border-bottom: 1px solid #E1E1E1;
            margin: 0 1rem;
            li {
              margin-left: .75rem;
              a {
                font-family: Raleway, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: .875rem;
                line-height: 170%;
                color: $mainColorBlack;
                margin-bottom: 1.5rem;
                display: block;
                transition: all .3s;
                text-decoration: none;
                &:hover {
                  color: #3B2AFF;
                  transition: all .3s;
                }
              }
            }
          }
          &__links {
            display: block;
            padding: 2rem 2rem .5rem;
            margin: 0 1rem;
            .link {
              display: block;
              margin-left: .75rem;
              font-family: Raleway, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: .875rem;
              margin-bottom: 1rem;
              color: $mainColorBlack;
              text-decoration: none;
              transition: all .3s;
              line-height: 170%;
              text-transform: uppercase;
              font-feature-settings: 'pnum' on, 'lnum' on;
              &:hover {
                color: #3B2AFF;
                transition: all .3s;
              }
            }
            .button {
              display: inline-block;
              margin-left: .75rem;
              margin-top: .5rem;
              border: 2px solid #3B2AFF;
              box-sizing: border-box;
              box-shadow: 0 0 33.75px rgba(184, 184, 184, 0.26);
              border-radius: 4px;
              padding: .75rem 2rem;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 19px;
              color: #3B2AFF;
              text-transform: none;
              text-decoration: none;
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -ms-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;
              &:hover {
                background-color: #3B2AFF;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    &__intro {
      margin-top: 7.125rem;
      padding: 0 0 0 .75rem;
      background-color: rgba(255,255,255,.53);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &__wrapper {
        max-width: 90%;
        &_title {
          text-align: left;
          line-height: 100%;
          font-size: 5rem;
          letter-spacing: 0.16px;
          max-width: 80%;
        }
        &_description {
          max-width: 64%;
          margin-bottom: 5rem;
          padding-left: .25rem;
          p {
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.16px;
          }
        }
      }
    }
  }

  // Footer
  .is-footer {
    padding: 2rem 3.125rem 4rem;
    &__wrapper {
      .col-lg-12 {
        display: flex;
        justify-content: center;
        order: 2;
      }
      &__contacts {
        flex-wrap: wrap;
        flex-direction: column;
        p {
          display: flex;
          margin-bottom: .75rem;
          &:first-child {
            order: 3;
            max-width: 224px;
            text-align: center;
            font-size: 14px;
            margin-bottom: 3rem;
          }
          &:nth-child(3) {
            margin-bottom: 1.5rem;
          }
        }
      }
      &__copyright {
        display: none;
      }
    }
    .scroll-to-top {
      right: 0;
      left: 0;
      bottom: 1.5rem;
      width: 100%;
      text-align: center;
    }
  }

  // Main wrapper
  .is-wrapper {
    .is-advantages {
      padding: 1rem 0;
      &__tabs {
        display: none;
      }
      &__switcher {
        background-color: transparent;
        padding: 0;
        #advantages-tabs {
          display: none;
        }
        &__mobile {
          display: block;
          .uk-accordion {
            padding: 1rem;
            li {
              background-color: #fff;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
              .uk-accordion-title {
                padding: 1.625rem 0;
                color: $mainColorBlack;
                font-style: normal;
                font-weight: 600;
                font-size: 1rem;
                text-align: center;
                line-height: 34px;
                font-family: Raleway, sans-serif;
                &:before {
                  display: none;
                }
              }
              .uk-accordion-content {
                margin-top: 0;
                background-color: #fff;
                padding: 1.25rem 1.25rem 0;
                .is-advantages__switcher__btn {
                  padding: 1.125rem;
                  width: 100%;
                  text-align: center;
                  margin-bottom: 1.25rem;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                }
              }
            }
          }
        }
      }
    }
    .is-product {
      &__card {
        img {
          display: block;
          margin: 0 auto;
        }
        p, h3 {
          padding: 0rem 1.5rem;
          margin-bottom: 1rem;
          max-width: 90%;
          margin: 0 auto 1rem;
        }
        h3 {
          height: auto;
        }
      }
    }
    .is-what-can {
      .container {
        padding: 0;
      }
    }
    .is-integration {
      padding: 8.25rem 0 3rem;
      &__list {
        &-item {
          padding-right: 2rem;
          padding-left: 3rem;
          &:before {
            left: -60px;
            top: 0;
          }
          ul {
            display: none;
          }
        }
      }
    }
    .is-what-says {
      padding: 2rem 0 4.25rem;
      .card {
        padding: 1.5rem;
      }
    }
  }
}
